@import '../../scss/mixins';

.apollo-checkbox {
    @include fs($fs-body);
    box-sizing: border-box;
    display: flex;
    position: relative;
    width: min-content;
    cursor: pointer;

    &__input {
        @include helper-visually-hidden;
        display: block;
    }

    &__label {
        cursor: pointer;
        margin: 0 4px 0 35px;
        min-height: 24px;
    }

    &:before, &:after {
        content: '';
        position: absolute;
        left: 0;
        transition: 0.5s;
    }

    &_common {
        &:before {
            width: 20px;
            height: 20px;
            background-color: var(--apollo-background-color-secondary);
            border: 1px solid var(--apollo-border-color-primary);
            border-radius: $base-border-radius;
            top: 1px;
        }

        &:after {
            top: 4px;
            left: 8px;
            transform: rotate(45deg);
            width: 5px;
            height: 10px;
            border-bottom: 2px solid transparent;
            border-right: 2px solid transparent;
        }

        &:hover:after {
            border-bottom-color: var(--apollo-border-color-primary);
            border-right-color: var(--apollo-border-color-primary);
        }

        &.apollo-checkbox {
            &_checked {
                &:before {
                    border-color: var(--apollo-brand)
                }

                &:after {
                    border-bottom-color: var(--apollo-brand);
                    border-right-color: var(--apollo-brand);
                }
            }

            &_disabled {
                cursor: default;

                &:before {
                    border-color: var(--apollo-background-color-disabled);
                }

                &:after {
                    border-bottom-color: transparent;
                    border-right-color: transparent;

                }

                &.apollo-checkbox_checked:after {
                    border-bottom-color: var(--apollo-background-color-disabled);
                    border-right-color: var(--apollo-background-color-disabled);
                }
            }

        }
    }

    &_toggle {
        &:before {
            background-color: var(--apollo-color-grey-3);
            border-radius: 1em;
            height: 12px;
            width: 40px;
            top: 7px;
        }

        &:after {
            height: 22px;
            width: 22px;
            border-radius: 100%;
            transition: left .1s ease-in, background .1s ease-in;
            top: 2px;
            background-color: var(--apollo-color-grey-4);
        }

        .apollo-checkbox__label {
            margin-left: 48px;
        }

        &.apollo-checkbox {
            &_checked:after {
                background-color: var(--apollo-brand);
                left: 18px;
            }

            &_disabled {
                cursor: default;

                &:before {
                    background-color: var(--apollo-background-color-disabled);
                }

                &:after {
                    background-color: var(--apollo-color-grey-3);
                }
            }
        }
    }

    &_disabled .apollo-checkbox__label {
        cursor: default;
        color: var( --apollo-font-color-disabled);
    }

    &__skeleton {
        @include skeleton-bar;
        height: 24px;
        width: 100%;
    }
}