@import '../../scss/mixins';

.apollo-combobox {
    position: relative;
    box-sizing: border-box;
    background-color: var(--apollo-background-color-secondary);
    max-height: 42px;
    max-width: 260px;
    width: 100%;
    outline: none;

    & * {
        box-sizing: border-box;
    }

    &_full-width {
        width: 100%;
        max-width: 100%;
    }

    &__placeholder {
        @include fs($fs-body);
        color: var(--apollo-color-grey-4);
        overflow-x: clip;
        text-overflow: ellipsis;
        white-space: nowrap;
        line-height: 1;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    &__control {
        @include fs($fs-body);
        background-color: var(--apollo-background-color-secondary);
        border: 1px solid var(--apollo-border-color-primary);
        border-radius: $base-border-radius;
        cursor: pointer;
        display: flex;
        align-items: center;
        border-spacing: 0;
        border-collapse: separate;
        outline: none;
        position: relative;
        padding: 6px 4px 6px 10px;

        &--is-focused {
            border-color: var(--apollo-brand);
            outline: 0;
        }

        &--menu-is-open .apollo-combobox {
            &__dropdown-indicator {
                transform: rotate(180deg);
            }

            &__value-container--has-value .apollo-combobox__single-value {
                color: var(--apollo-font-color-tertiary);
            }
        }

        &--is-disabled {
            cursor: not-allowed;
            pointer-events: none;
            background-color: var(--apollo-background-color-disabled);
            color: var(--apollo-font-color-disabled);

            .apollo-combobox__placeholder {
                color: var(--apollo-font-color-disabled);
                cursor: not-allowed;
            }

            .apollo-icon {
                fill: var(--apollo-icon-color-disabled);
            }
        }

        &--prefix-icon {
            margin-left: 5px;
            fill: var(--apollo-icon-color-secondary);
        }
    }

    &__value-container {
        position: relative;
        display: flex;
        flex-grow: 1;
        align-items: center;
        overflow: hidden;
        min-height: 24px;
    }

    &__single-value {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__indicators {
        display: inline-flex;
        flex-shrink: 0;
        padding: 3px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        position: relative;
    }

    &__clear-indicator {
        display: flex;
    }

    &__dropdown-indicator {
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        position: relative;
        padding: 0;
        color: inherit;
        transition: all 0.2s ease, transform 0.3s;

        .apollo-icon {
            fill: var(--apollo-icon-color-secondary);
        }
    }

    &__menu {
        @include fs($fs-body);
        position: absolute;
        width: 100%;
        border: 1px solid var(--apollo-border-color-secondary);
        z-index: 30;
        background-color: var(--apollo-background-color-secondary);
        box-sizing: border-box;
        margin-top: 3px;
        border-radius: $base-border-radius;
        padding: 4px 1px;
        overflow: hidden;
        box-shadow: 1px 1px 4px 1px var(--apollo-elevation-color-primary);

        &-list {
            @include custom-scrollbar;
            max-height: 300px;
            overflow-x: hidden;
            overflow-y: auto;
            padding: 0 2px;
            display: flex;
            flex-direction: column;
            gap: 2px;
        }
    }

    &__option {
        padding: 10px;
        border-radius: $base-border-radius;
        cursor: pointer;

        .apollo-combobox__option {
            &-title {
                @include fs($fs-body);
                display: flex;
                flex-direction: row;
                align-items: center;
                line-height: 1;
                overflow-x: clip;
                text-overflow: ellipsis;
            }

            &-description {
                @include fs($fs-label);
                line-height: 1;
                padding-top: 4px;
                overflow-x: clip;
                text-overflow: ellipsis;
            }
        }

        &:hover {
            background-color: var(--apollo-background-color-primary);
        }

        &--is-selected, &--is-selected:hover {
            background-color: var(--apollo-brand-light);

            .apollo-combobox__option-title, .apollo-combobox__option-description {
                color: var(--apollo-font-color-alternative);
            }
        }

        &--is-disabled, &--is-disabled:hover {
            background-color: var(--apollo-background-color-disabled);

            .apollo-combobox__option-title, .apollo-combobox__option-description {
                color: var(--apollo-font-color-disabled);
            }
        }
    }

    &__loading-icon {
        align-items: center;

        .apollo-combobox__indicators & {
            animation: loaderSpinner 0.7s linear infinite;

            path[data-id='loader-sub-sector'] {
                opacity: 0.3;
            }
        }
    }

    &_has-error .atlas-combobox__control {
        border-color: var(--apollo-status-color-negative);
    }

    &__skeleton {
        @include skeleton-bar;
        height: 42px;
        width: 260px;

        &_full-width {
            width: 100%;
        }
    }
}

@keyframes loaderSpinner {
    to {
        transform: rotate(360deg);
    }
}
