@import '../themes/typography';

@mixin font-face($family, $path: '', $weight, $style) {
  @font-face {
    font-family: $family;
    src: url($path + '.woff2') format('woff2'), url($path + '.woff') format('woff');
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
  }
}

@mixin font($weightInit: Regular, $font: $font-family-base, $style: normal) {
  font-family: $font;
  font-style: $style;

  $weight: map_get(
    (
      'Regular': 400,
      'Medium': 500,
      'Semibold': 600,
      'Bold': 900,
    ),
    $weightInit
  );

  font-weight: $weight or $weightInit;
}

@mixin fs($style, $colorOverride: false, $weightOverride: false) {
  $font: map-get($font-styles, $style);
  $weight: $weightOverride or nth($font, 1);
  $color: $colorOverride or nth($font, 2);

  $params: nth($font-sizes, nth($font, 3));

  @include font($weight);
  color: $color;
  font-size: #{nth($params, 1)}px;
  line-height: #{nth($params, 2)}px;
}
