@import '../root';

@mixin helper-visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    padding: 0;
    margin: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;

    &::before,
    &::after {
        width: 1px;
        height: 1px;
        padding: 0;
        margin: 0;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-bottom: 0;
    }
}

@keyframes skeleton-animation {
    0% {
        left: -100%;
    }
    100% {
        left: 100%;
    }
}

@mixin skeleton-bar {
    position: relative;
    overflow: hidden;
    border-radius: $base-border-radius;
    background-color: var(--apollo-color-grey-2);

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-size: 100%;
        background-image: linear-gradient(90deg, var(--apollo-color-grey-2) 0, var(--apollo-color-grey-1) 40px, var(--apollo-color-grey-2) 80px);
        animation: skeleton-animation 1s infinite linear;
    }
}

@mixin custom-scrollbar {
    cursor: default;

    &::-webkit-scrollbar {
        display: none;
        -webkit-appearance: none;
        width: 4px;
    }

    &::-webkit-scrollbar-track {
        display: none;
        background-color: var(--apollo-background-color-secondary);
    }

    &::-webkit-scrollbar-thumb {
        display: none;
        background: var(--apollo-border-color-secondary);
        border-radius: 4px;
    }
}

@mixin useExpandButton {
    display: block;
    position: absolute;
    width: 32px;
    height: 32px;
    top: 6px;
    right: 6px;
    border-radius: $base-border-radius;
    border: 0;
    cursor: pointer;
    background: center no-repeat rgba(33, 33, 33, 0.72) url('data:image/svg+xml,%3Csvg width=\'12\' height=\'12\' viewBox=\'0 0 12 12\' fill=\'none\' xmlns=\'http://www.w3.org/2000/svg\'%3E%3Cpath d=\'M11.9975 0.450659C11.9968 0.443252 11.9954 0.43608 11.9944 0.428791C11.9931 0.419955 11.9921 0.411096 11.9903 0.402307C11.9887 0.393916 11.9864 0.385783 11.9843 0.377557C11.9824 0.369986 11.9807 0.362369 11.9784 0.354869C11.976 0.346783 11.973 0.338978 11.9701 0.33108C11.9674 0.323603 11.965 0.316056 11.9619 0.308674C11.9589 0.301291 11.9553 0.294236 11.9519 0.287041C11.9483 0.279447 11.9449 0.271783 11.9409 0.26433C11.9372 0.257439 11.933 0.250876 11.929 0.244173C11.9247 0.236884 11.9205 0.229501 11.9158 0.222376C11.9108 0.21497 11.9053 0.208009 11.9 0.200884C11.8955 0.194954 11.8914 0.18886 11.8867 0.183071C11.8763 0.170438 11.8654 0.158274 11.8538 0.14672C11.8537 0.146626 11.8537 0.146532 11.8536 0.146438C11.8535 0.146345 11.8534 0.146298 11.8533 0.146204C11.8417 0.134649 11.8296 0.123704 11.8169 0.113321C11.8111 0.108563 11.805 0.104438 11.7991 0.0999849C11.792 0.0946646 11.785 0.0891567 11.7776 0.0842114C11.7705 0.0794536 11.7631 0.0753285 11.7558 0.0709691C11.7491 0.0669613 11.7426 0.062766 11.7357 0.0590628C11.7282 0.0550784 11.7206 0.0517034 11.713 0.0481174C11.7058 0.044719 11.6987 0.041133 11.6913 0.0380627C11.6839 0.0350158 11.6764 0.0325314 11.6689 0.0298595C11.661 0.0270236 11.6532 0.0240001 11.6452 0.0215626C11.6377 0.0192892 11.63 0.0176251 11.6224 0.0157266C11.6142 0.0136407 11.6061 0.0113438 11.5977 0.00967974C11.5889 0.00794536 11.5801 0.00689066 11.5712 0.00562503C11.5639 0.00459377 11.5568 0.00318752 11.5494 0.00246095C11.5329 0.000867192 11.5165 0 11.5 0H7.99999C7.72385 0 7.5 0.223853 7.5 0.499995C7.5 0.776137 7.72385 0.99999 7.99999 0.99999H10.2929L6.64646 4.64646C6.4512 4.84172 6.4512 5.15832 6.64646 5.35358C6.84171 5.54883 7.15831 5.54883 7.35357 5.35358L11 1.70713V4.00003C11 4.27617 11.2238 4.50002 11.5 4.50002C11.7761 4.50002 12 4.27617 12 4.00003V0.500042C12 0.483542 11.9991 0.467065 11.9975 0.450659Z\' fill=\'%23FBFBFB\'/%3E%3Cpath d=\'M4.64644 6.64647L1.00001 10.2929V8.00002C1.00001 7.72388 0.776156 7.50002 0.500015 7.50002C0.223851 7.50002 0 7.72388 0 8.00002V11.5C0 11.5165 0.000867187 11.533 0.00248437 11.5494C0.00321094 11.5567 0.00459375 11.5639 0.00564843 11.5712C0.00691406 11.5801 0.00794531 11.589 0.00970312 11.5977C0.0113672 11.6061 0.0136641 11.6142 0.01575 11.6224C0.0176484 11.63 0.0193125 11.6377 0.0215859 11.6452C0.0240234 11.6532 0.0270469 11.661 0.0298828 11.6689C0.0325781 11.6764 0.035039 11.6839 0.0380859 11.6913C0.0411328 11.6987 0.0447422 11.7058 0.0481406 11.713C0.0517265 11.7206 0.0551015 11.7282 0.0590859 11.7357C0.062789 11.7426 0.0669843 11.7491 0.0709922 11.7558C0.0753515 11.7631 0.0794765 11.7705 0.0842343 11.7776C0.0891796 11.785 0.0946875 11.792 0.100008 11.7991C0.104461 11.805 0.108586 11.8111 0.113344 11.8169C0.123727 11.8296 0.134672 11.8418 0.146226 11.8533C0.14632 11.8534 0.146367 11.8535 0.146461 11.8536C0.146555 11.8537 0.146648 11.8537 0.146742 11.8538C0.158297 11.8654 0.170461 11.8763 0.183094 11.8867C0.188883 11.8914 0.194976 11.8956 0.200906 11.9C0.208031 11.9053 0.214992 11.9108 0.222398 11.9158C0.2295 11.9205 0.236883 11.9247 0.244195 11.929C0.250898 11.933 0.257437 11.9372 0.264351 11.9409C0.271805 11.9449 0.279469 11.9483 0.287062 11.9519C0.294258 11.9553 0.301336 11.9589 0.308695 11.9619C0.316078 11.965 0.323601 11.9674 0.331101 11.9701C0.339 11.973 0.346805 11.976 0.35489 11.9784C0.36239 11.9807 0.370008 11.9824 0.377578 11.9843C0.385805 11.9864 0.393937 11.9887 0.402328 11.9903C0.411117 11.9921 0.419976 11.9931 0.428812 11.9944C0.436101 11.9954 0.443297 11.9968 0.450679 11.9975C0.467086 11.9991 0.483539 12 0.499992 12H4.00001C4.27615 12 4.5 11.7761 4.5 11.5C4.5 11.2239 4.27615 11 4.00001 11H1.70712L5.35357 7.35354C5.54883 7.15828 5.54883 6.84168 5.35357 6.64643C5.15831 6.45117 4.84172 6.45121 4.64644 6.64647Z\' fill=\'%23FBFBFB\'/%3E%3C/svg%3E');
}

@mixin usePhotoButton {
    position: absolute;
    top: 0;
    left: 0;
    background: center no-repeat url('data:image/svg+xml,%3Csvg width=\'24\' height=\'20\' viewBox=\'0 0 24 20\' fill=\'none\' xmlns=\'http://www.w3.org/2000/svg\'%3E%3Cpath d=\'M21.4286 3.33331H17.8123L17.1172 0.630812C17.0216 0.260059 16.6789 0 16.2857 0H7.71428C7.32113 0 6.97841 0.260059 6.88284 0.630812L6.1877 3.33331H2.57143C1.15127 3.33331 0 4.4526 0 5.83332V17.5C0 18.8807 1.15127 20 2.57143 20H21.4286C22.8487 20 24 18.8807 24 17.5V5.83332C24 4.4526 22.8487 3.33331 21.4286 3.33331ZM12 15.8333C9.63306 15.8333 7.71428 13.9679 7.71428 11.6667C7.71428 9.3655 9.63306 7.50002 12 7.50002C14.3669 7.50002 16.2857 9.3655 16.2857 11.6667C16.2829 13.9667 14.3657 15.8306 12 15.8333Z\' fill=\'%23FBFBFB\'/%3E%3C/svg%3E%0A');
    width: 100%;
    height: 100%;
    cursor: pointer;
}

@mixin useIcon($image, $width, $height) {
    display: inline-block;
    background-image: url($image);
    background-repeat: no-repeat;
    background-size: $width $height;
}

@mixin textEllipsis() {
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: inherit;
    white-space: nowrap;
}

@mixin border-top-radius($radius) {
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
}

@mixin border-right-radius($radius) {
    border-top-right-radius: $radius;
    border-bottom-right-radius: $radius;
}

@mixin border-bottom-radius($radius) {
    border-bottom-right-radius: $radius;
    border-bottom-left-radius: $radius;
}

@mixin border-left-radius($radius) {
    border-top-left-radius: $radius;
    border-bottom-left-radius: $radius;
}
