@import '../../scss/mixins';

.apollo-accordion {
    width: 100%;
    background-color: var(--apollo-background-color-primary);
    box-shadow: 1px 1px 4px 1px var(--apollo-elevation-color-primary);
    border-radius: $base-border-radius;
    overflow: hidden;

    &__header {
        display: flex;
        align-items: center;
        padding: 24px 20px 24px;
        gap: 10px;
        background-color: var(--apollo-background-color-secondary);
        cursor: pointer;

        &_active .apollo-accordion__icon_right {
            transform: rotate(180deg);
        }
    }

    &__icon {
        min-width: 24px;

        &_right {
            margin-left: auto;
        }
    }

    &__title {
        @include fs($fs-h3);
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__description {
        border-top: 2px solid var(--apollo-brand);
    }

    &__content {
        padding: 28px 14px 14px;
    }

    &__skeleton {
        @include skeleton-bar;
        min-height: 72px;
        width: 100%;
    }
}