@import 'colors';

$fs-xs: 14;
$fs-s: 16;
$fs-m: 18;
$fs-l: 24;
$fs-xl: 30;
$fs-xxl: 36;

$fs-h1: 'h1';
$fs-h2: 'h2';
$fs-h3: 'h3';
$fs-h4: 'h4';
$fs-h5: 'h5';
$fs-body: 'body';
$fs-button: 'button';
$fs-label: 'label';
$fs-helper: 'helper';
$fs-negative: 'nefative';
$fs-positive: 'positive';
$fs-warning: 'warning';
$fs-progress: 'progress';
$fs-link: 'link';

$font-sizes: ((14, 20), (16, 24), (18, 24), (24, 32), (30, 48));

$font-styles: (
  h1: (600, $apollo-font-color-primary, 5),
  h2: (600, $apollo-font-color-primary, 4),
  h3: (600, $apollo-font-color-primary, 3),
  h4: (600, $apollo-font-color-primary, 2),
  h5: (600, $apollo-font-color-primary, 1),
  body: (400, $apollo-font-color-primary, 3),
  button: (400, $apollo-font-color-alternative, 3),
  label: (400, $apollo-font-color-tertiary, 2),
  helper: (400, $apollo-font-color-tertiary, 3),
  negative: (400, $apollo-status-color-negative, 2),
  positive: (400, $apollo-status-color-positive, 2),
  warning: (400, $apollo-status-color-warning, 2),
  progress: (400, $apollo-status-color-progress, 2),
  link: (400, $apollo-font-color-link, 3),
);

$font-family-sans-serif: 'Helvetica Neue', sans-serif !default;
$font-family-inter: 'Inter';
$font-family-koplok: 'Koplok';
$font-family-gilroy: 'Gilroy', $font-family-inter, $font-family-sans-serif;

$font-family-base: $font-family-gilroy !default;
