@import '../../../../apollo/scss/mixins/index';

.cookies-policy {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 600px;
    background-color: var(--apollo-color-grey-7);
    border-radius: 16px;
    padding: 20px;
    z-index: 100;

    &__title {
        @include fs($fs-h3, var(--apollo-font-color-alternative));
        margin-bottom: 10px;
    }

    &__content {
        margin-bottom: 30px;
    }

    &__description {
        @include fs($fs-label, var(--apollo-font-color-alternative));
    }

    &__link {
        @include fs($fs-label, var(--apollo-color-blue-5));
    }

    @include media($tablet-breakpoint) {
        bottom: 0;
        right: 0;
        width: 100%;
        padding-bottom: 60px;
        @include border-bottom-radius(0);
    }
}