@import '../../apollo/scss/mixins';

.auth {
    &__layout {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        background-color: var(--apollo-background-color-primary);
        //background-image: url('../../../../apollo/assets/images/auth-background.svg');
        background-size: 700px;
        background-repeat: no-repeat;
        background-position: 85% 45%;

        @include media($desktop-breakpoint) {
            background-size: 500px;
            background-position: 90% 45%;
        }

        @include media($mobile-breakpoint) {
            background-image: none;

            .footer__container {
                padding-bottom: 20px;
            }
        }

        &-container {
            max-width: 1800px;
            width: 100%;
            margin: 0 auto;
            flex: 1 1 auto;
            padding: 60px 20px 40px;
            position: relative;
            gap: 40px;
            display: flex;
            flex-direction: column;

            @include media($mobile-breakpoint) {
                padding-top: 20px;
                gap: 20px;
            }
        }
    }

    &__header {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        max-width: 1800px;
        width: 100%;
        margin: 0 auto 20px;
        padding: 60px 20px 0;

        @include media($mobile-breakpoint) {
            padding: 14px 20px 0;
        }

        &-title {
            @include fs($fs-h3);
            line-height: 18px;

            @include media($mobile-breakpoint) {
                @include fs($fs-h4);
                line-height: 16px;
            }
        }

        &-link {
            @include fs($fs-body);
            padding-top: 12px;
            transition: 0.3s;

            @include media($mobile-breakpoint) {
                width: max-content;
            }

            &:hover {
                color: var(--apollo-brand-light);
            }
        }
    }

    &__description {
        @include fs($fs-h3);

        &_brand {
            color: var(--apollo-brand);
            display: block;

            @include media($mobile-breakpoint) {
                display: inline;
            }
        }
    }
}
