@import '../../../../apollo/scss';

.layout .footer {
    background-color: var(--apollo-background-color-secondary);
    box-shadow: 1px -1px 4px 1px var(--apollo-elevation-color-primary);

    @include media($mobile-breakpoint) {
        box-shadow: none;
        border-top: 1px solid var(--apollo-border-color-secondary);
    }

    &__skeleton {
        @include skeleton-bar();
        width: 100%;
        height: 60px;
        @include border-bottom-radius(0);

        @include media($desktop-breakpoint) {
            height: 366px;
        }
    }

    &__container {
        padding: 10px 20px;
        display: flex;
        align-items: center;
        max-width: 1800px;
        width: 100%;
        margin: 0 auto;

        @include media($desktop-breakpoint) {
            flex-direction: column;
            align-items: flex-start;
            gap: 24px;
            padding-bottom: 15px;
        }

        @include media($mobile-breakpoint) {
            padding-bottom: 80px;
        }
    }

    &__navigation {
        margin-left: 40px;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;

        @include media($desktop-breakpoint) {
            margin: 0;
            flex-direction: column;
            gap: 4px;
        }

        &-link {
            @include fs($fs-label, var(--apollo-font-color-primary));
            transition: 0.5s;
            cursor: pointer;
            padding: 8px 0;

            &:hover {
                color: var(--apollo-brand-light);
            }
        }
    }

    &__copyright {
        @include fs($fs-label, var(--apollo-brand));
        border: none;
        margin-left: auto;

        @include media($desktop-breakpoint) {
            margin: 0;
        }
    }
}
