@import '../../scss/mixins';

.apollo-icon {
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    user-select: none;
    touch-action: manipulation;
    line-height: 1;
    fill: var(--apollo-icon-color-primary);
    transition: 0.3s;

    &_active {
        fill: var(--apollo-brand);
    }

    &_loading {
        animation: loaderSpinner 0.7s linear infinite;

        & path[data-id='loader-sub-sector'] {
            opacity: 0.3;
        }
    }

    &_sm {
        width: 20px;
        height: 20px;
    }

    &_md {
        width: 24px;
        height: 24px;
    }

    &_lg {
        width: 30px;
        height: 30px;
    }

    &_xl {
        width: 36px;
        height: 36px;
    }

    &__skeleton {
        @include skeleton-bar;

        &_sm {
            width: 20px;
            height: 20px;
        }

        &_md {
            width: 24px;
            height: 24px;
        }

        &_lg {
            width: 30px;
            height: 30px;
        }

        &_xl {
            width: 36px;
            height: 36px;
        }
    }
}

@keyframes loaderSpinner {
    to {
        transform: rotate(360deg);
    }
}
