@import '../../scss/mixins';

.apollo-control-wrapper {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;

    &__label {
        @include fs($fs-label);
        position: relative;
        display: flex;
        align-items: center;
        gap: 4px;
        margin-bottom: 5px;

        &-text {
            display: flex;
        }

        .apollo-hint {
            position: relative;
        }
    }

    &__required-sign {
        @include fs($fs-label, var(--apollo-status-color-negative));
        position: relative;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 4px;
    }

    &__error-message {
        @include fs($fs-label, var(--apollo-status-color-negative));
        margin-top: -2px;
    }

    &__skeleton {
        &_label {
            @include skeleton-bar();
            min-height: 24px;
            width: 100%;
            margin-bottom: 5px;
        }

        &_error-message {
            @include skeleton-bar();
            min-height: 24px;
            width: 100%;
            margin-top: 4px;
        }
    }
}
