@import '../../scss/mixins';

.apollo-photo-viewer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--apollo-overlay-color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 500;

    &__container {
        position: relative;
        max-height: 80%;
        height: 100%;
        max-width: 80%;
        background-color: var(--apollo-background-color-secondary);
        padding: 15px;
        border-radius: $base-border-radius;
        display: flex;
        justify-content: center;
    }

    &__image {
        max-width: 100%;
        object-fit: cover;
        border-radius: $base-border-radius;
    }

    &__close-button {
        position: absolute;
        top: 16px;
        right: 50%;
        transform: translateX(50%);
        padding: 10px;
    }

    &__button {
        &_prev, &_next {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            font-size: 24px;
            color: white;
            cursor: pointer;
            padding: 10px;
        }

        &_prev {
            left: 16px;
        }

        &_next {
            right: 16px;
        }
    }

    @include media($tablet-breakpoint) {
        &__container {
            height: auto;
        }
    }
}

.fullscreen-photo img {
    max-width: 90%;
    max-height: 90%;
    object-fit: cover;
}
