@import 'themes';

$apollo-brandes: (
        brand--orange: (
                brand: $orange-brand,
                brand-dark: $orange-brand-dark,
                brand-light: $orange-brand-light,
        ),
        brand--green: (
                brand: $green-brand,
                brand-dark: $green-brand-dark,
                brand-light: $green-brand-light,
        ),
        brand--purple: (
                brand: $purple-brand,
                brand-dark: $purple-brand-dark,
                brand-light: $purple-brand-light,
        ),
        brand--magenta: (
                brand: $magenta-brand,
                brand-dark: $magenta-brand-dark,
                brand-light: $magenta-brand-light,
        ),
);